$accentColor = #672f2f
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.navbar{
    background-color:#4b3832 !important;
}
.navbar .links{
    background-color:#4b3832;
}
.navbar .nav-link{
    color: white;
}
.navbar .site-name{
    color:white;
}

.nav-links a:hover, .nav-links a.router-link-active {
    color: #d7d1c9;
}